<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/sign.css}"/>
</head>
<body>
<div class="container col-md-12 col-sm-12" style="height:100%;width:100%">
    <div style="margin:0 auto;text-align:center;padding-top:8%">

        <form class="form-signin" th:action="@{/userLogin}" method="post">

            <img class="mb-4 img-responsive" src="" th:src="@{/img/bootstrap-solid.jpg}" alt="logo" width="110" height="110"/>
            <h1 class="h3 mb-3 font-weight-normal" >请登录</h1>
            <!--      判断消息提示      -->
            <span style="color: red" th:text="${loginMsg}" th:if="${not #strings.isEmpty(loginMsg)}"></span>
            <label  class="sr-only">Username</label>
            <input type="text"  name="username" class="form-control" placeholder="Username" required="" autofocus=""/>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="" />
            <div class="checkbox mb-3">
                <label >
                    <input type="checkbox" value="remember-me" />记住我
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
</div>
</body>
</html>